html,body{
  height:2000px;
  position: relative;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.dropDownForm {
  margin-bottom: 0px;
}

.affix ~ .container-fluid {
  position: relative;
  top: 253px;
}

.header-bg {
  background-color: rgb(149, 221, 232);
}

#meal-planner-container {
  background-color: rgb(210, 210, 210);
}

.week-day {
  width: 180px;
  height: 180px;
  border: 1px solid black;
}

.how-it-works {

}

#recipe-form {
  display: none;
  padding-left: 25px;
  padding-right: 25px;
}

.dairy-or-not {
  display: inline-block;
  margin-bottom: 15px;
}

.meat-or-not {
  display: inline-block;
  margin-bottom: 15px;
}

#add-ingredient {
  display:block;
  margin: auto;
}

#user-recipe {
  display:block;
  margin:auto;
}

.sticky {
  position: fixed;
  z-index: 100;
  top:20px;
  border-top: 0;
  /*left:16%;*/
}

#recipes {
  margin-top: 30px;
}
