.week-day {
  width: 180px;
  height: 180px;
  border: 1px solid black;
}

#recipe-form {
  display: none;
}

.dairy-or-not {
  display: inline-block;
  margin-left: 2%;
}

.meat-or-not {
  display: inline-block;
  margin-left: 30%;
}

#add-ingredient {
  display: block;
  margin-left: 40%;
  margin-top: 2%;
}
